header {
  width: 100%;
  margin: 0;
  padding: 20px;
}

header > h1 {
  font-size: 2em;
}

header > ul > li {
  display: inline;
  padding: 10px;
}

.mainContent {
  padding: 1em;
}


//CSS for Nav bar
a {
	text-decoration: inherit;
}

.NavButton {
	color: black !important;
}